body{
    background-image: url('https://i.pinimg.com/564x/70/86/f1/7086f1a95372197e3e3d5cdfd574efdc.jpg');
}
img {
    width: 300px;
    height: 300px;
    position:relative;
    right: 28;
    }
    h2  {
        color:rgb(237, 117, 6)
        }
    .headline {
        color:rgb(237, 117, 6)
        {
[ href] {
    color: magenta

}    

   